USE [master]
GO
/****** Object:  Database [firstDB]    Script Date: 16-Jan-24 2:16:20 PM ******/
CREATE DATABASE [firstDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'firstDB', FILENAME = N'D:\sql2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\firstDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'firstDB_log', FILENAME = N'D:\sql2022\MSSQL16.MSSQLSERVER\MSSQL\DATA\firstDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [firstDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [firstDB]
GO
/****** Object:  Table [dbo].[SinhVien]    Script Date: 16-Jan-24 2:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhVien](
	[MSSV] [varchar](20) NOT NULL,
	[TENSV] [varchar](20) NULL,
	[DIEMSO] [float] NULL,
	[NGAYSINH] [date] NULL,
	[XEPLOAI] [varchar](10) NULL,
 CONSTRAINT [PK_SinhVien] PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[pr_deleteSinhVien]    Script Date: 16-Jan-24 2:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_deleteSinhVien]
@MSSV nvarchar(20)
AS 
DELETE FROM SinhVien
WHERE MSSV = @MSSV
GO
/****** Object:  StoredProcedure [dbo].[pr_getAllSinhVien]    Script Date: 16-Jan-24 2:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_getAllSinhVien]
AS 
SELECT * FROM SinhVien
GO
/****** Object:  StoredProcedure [dbo].[pr_insertSinhVien]    Script Date: 16-Jan-24 2:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_insertSinhVien]
@MSSV nvarchar(20),
@tenSV nvarchar(20),
@diemSo nvarchar(20),
@ngaySinh nvarchar(20),
@xepLoai nvarchar(20)
AS 
insert into SinhVien values 
(@MSSV, @tenSV, @diemSo, @ngaySinh, @xepLoai)
GO
/****** Object:  StoredProcedure [dbo].[pr_updateSinhVien]    Script Date: 16-Jan-24 2:16:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[pr_updateSinhVien]
@MSSV nvarchar(20),
@tenSV nvarchar(20),
@diemSo nvarchar(20),
@ngaySinh nvarchar(20),
@xepLoai nvarchar(20)
AS
UPDATE SinhVien 
SET
MSSV = @MSSV,
TENSV = @tenSV,
DIEMSO = @diemSo, 
NGAYSINH = @ngaySinh, 
XEPLOAI = @xepLoai
WHERE MSSV = @MSSV
GO
USE [master]
GO
